<div class="overflow-hidden rounded-lg bg-white shadow px-4 py-5 sm:p-6">
  <dt class="truncate text-sm font-medium text-gray-500"><%= title %></dt>
  <dd class="mt-1 text-3xl font-semibold tracking-tight text-<%= color %>-600"><%= value %></dd>
</div>
